<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duoperfeito">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuoPerfeito"
        android:largeHeap="true">
        <activity
            android:name=".profissional.ProfEditAcivity"
            android:exported="true" />
        <activity
            android:name=".profissional.ProfMainActivity"
            android:exported="true" />
        <activity
            android:name=".empresario.EmpMainActivity"
            android:exported="true" />
        <activity
            android:name=".profissional.ProfCadastroActivity"
            android:exported="true" />
        <activity
            android:name=".empresario.EmpCadastroActivity"
            android:exported="true" />
        <activity
            android:name=".profissional.ProfLoginActivity"
            android:exported="true" />
        <activity
            android:name=".empresario.EmpLoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>